<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/ui/trumbowyg.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/trumbowyg.min.js"></script>

</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <%- include('./sidebar') %>

            <div style="width: 80%; margin-left: 20%; ">

                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Add About Us</h1>
                </div>

                <div style=" margin-top: 60px; margin-left: 100px;">
                    <div
                        style="width: 90%;  display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                        <div style="  width: 100%;  padding: 20px 20px; ">
                            <!-- ADD Categorise -->



                            <!-- Our Stats -->
                            <div style=" margin-top: 20px; margin-bottom: 20px; ">
                                <% if (success && success.length > 0) { %>
                                    <div  class="toast success-toast">
                                        <%= success %>
                                    </div>
                                <% } %>
                                <% if (error && error.length > 0) { %>
                                    <div class="toast error-toast">
                                        <%= error %>
                                    </div>
                                <% } %>
                                <h1
                                    style="font-size: 26px; font-weight: 700; color: rgb(233, 6, 6); margin-top: 20px; ">
                                    About Us : </h1>
                                   
                                <form action="/api/v1/admin/add-about-us" method="POST" enctype="multipart/form-data">
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Add Banner Image : </label>
                                        <input type="file" name="bannerImage" placeholder="Add Banner Image " required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Your Imaginatio Side Image : </label>
                                        <input type="file" name="yourImaginationImg" required
                                            placeholder="Your Imaginatio Side Image "
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Your Imagination right side content : </label>
                                        <textarea class="editor" type="text" name="yourImaginationHead" required
                                            placeholder="Your Imagination Heading & Details"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>


                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Number Of Student Joined : </label>
                                        <input type="number" name="totalStudentJoined" required
                                            placeholder=" Total Student Joined" min="0"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Journry Heading & datails : </label>
                                        <textarea class="editor" type="text" name="ourJourneyHead" required
                                            placeholder="Our Journry Heading & Details"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>


                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Journry Img : </label>
                                        <input type="file" name="ourJourneyImg" placeholder="Our Journry Img" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Belief Heading & details: </label>
                                        <textarea class="editor" type="text" name="ourBeliefsHead" placeholder="Our Belief Heading & Details"
                                           required style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>
                                   

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Belief Image : </label>
                                        <input type="file" name="ourBeliefImg" placeholder="Our Belief Details :" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Mission Heading: </label>
                                        <input type="text" name="ourMissionHead" placeholder="Our Mission Heading " required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                             />
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Mission Img : </label>
                                        <input type="file" name="ourMissionImg" placeholder="Our Mission Image :" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Mission Details : </label>
                                        <textarea class="editor" type="text" name="missionDetails" placeholder="Our Mission Details :" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" ></textarea>
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Vision Details : </label>
                                        <textarea class="editor" type="text" name="visionDetails" placeholder="Our Vision Details :" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" ></textarea>
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Values Details : </label>
                                        <textarea class="editor" type="text" name="valuesDetails" placeholder="Our Values Details :" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" ></textarea>
                                    </div>
                                    <button type="submit"
                                        style="padding: 5px 10px; background-color: #1AAEF4; margin-top: 10px; border-radius: 2px; border: 1px; border-style: solid; border-color: black; margin-left: 90%; color: white; ">Submit</button>

                                </form>

                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.editor').trumbowyg({
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'underline', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['table'],
                    ['foreColor', 'backColor'],
                    ['fullscreen']
                ]
            });
        </script>

    </div>

</body>

</html>