<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>

</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style="position: fixed; width: 12%;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 30px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>
                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 40px; margin-top: 20px;  ">
                    <div>
                        <a href="/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>

                    </div>
                    <div>
                        <a href="/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="width: 88%; margin-left: 12%; ">

                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Add About Us</h1>
                </div>

                <div style=" margin-top: 60px; display: flex; justify-content: center;">
                    <div
                        style="width: 60%;  display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                        <div
                            style="  width: 100%;  padding: 20px 20px; ">
                             <!-- ADD Categorise -->
                           
                                                      
                                
                                <!-- Our Stats -->
                                <div style=" margin-top: 20px; margin-bottom: 20px; ">
                                    <h1
                                        style="font-size: 26px; font-weight: 700; color: rgb(233, 6, 6); margin-top: 20px; ">
                                        About Us : </h1>

                                    <form>
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                               Add Banner Image : </label>
                                            <input type="file" name="bannerImage" placeholder="Add Banner Image "
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0" />
                                        </div>
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                               Your Imaginatio Side Image : </label>
                                            <input type="file" name="yourImaginationImg" placeholder="Your Imaginatio Side Image "
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0" />
                                        </div>
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                              Your Imagination Heading : </label>
                                            <input type="text" name="yourImaginationHead" placeholder="Your Imagination Heading"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                        </div>
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                               Your Imagination Details : </label>
                                            <input type="text" name="yourImaginationPara" placeholder="Your Imagination Details"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0" />
                                        </div>
                                        <div style=" margin: 20px; border: 2px; border-style: solid;  padding: 15px;" id="keyHighLightsContainer">

                                            <div
                                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                                <h1
                                                    style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                                    Add Your Imagination Course We Offer : </h1>
                
                                                <div id="addYourImaginory-container"
                                                    style="width: 100%; display: flex; flex-direction: column;">
                                                </div>
                
                                                <button
                                                    style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                                    type="button" onclick="addYourImaginory()">Add More</button>
                
                                            </div>
                                        </div>
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                               Number Of Student Joined  : </label>
                                            <input type="number" name="totalStudentJoined" placeholder=" Total Student Joined" min="0"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                        </div>

                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                               Our Journry Heading  : </label>
                                            <input type="text" name="ourJourneyHead" placeholder="Our Journry Heading"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                        </div>
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                               Our Journry Details  : </label>
                                            <input type="text" name="ourJourneyPara" placeholder="Our Journry Details"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                        </div>
                                        
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                               Our Journry Img  : </label>
                                            <input type="file" name="ourJourneyImg" placeholder="Our Journry Img"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                        </div>
                                        
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                                Our Belief Heading : </label>
                                            <input type="text" name="ourBeliefsHead" placeholder="Our Belief Heading"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                        </div>
                                        <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Belief Details : </label>
                                        <input type="text" name="ourBeliefPara" placeholder="Our Belief Details :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Belief Image : </label>
                                        <input type="file" name=" ourBeliefImg" placeholder="Our Belief Details :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Mission Heading : </label>
                                        <input type="text" name="ourMissionHead" placeholder="Our Mission Heading :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                    </div>
                                    
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Mission Img : </label>
                                        <input type="file" name="ourMissionImg" placeholder="Our Mission Image :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Mission Details : </label>
                                        <input type="text" name="missionDetails" placeholder="Our Mission Details :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Vision Details : </label>
                                        <input type="text" name="visionDetails" placeholder="Our Vision Details :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Our Values Details : </label>
                                        <input type="text" name="valuesDetails" placeholder="Our Values Details :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" min="0"/>
                                    </div>
                                    <button type="submit" style="padding: 5px 10px; background-color: #1AAEF4; margin-top: 10px; border-radius: 2px; border: 1px; border-style: solid; border-color: black; margin-left: 90%; color: white; ">Submit</button>

                                    </form>

                                </div>

                      

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>