<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/ui/trumbowyg.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/trumbowyg.min.js"></script>
</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style=" position: fixed; width: 20%;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 60px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>



                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 80px; margin-top: 20px;  ">
                    <div>
                        <a href="/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>

                    </div>
                    <div>
                        <a href="/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="width: 80%; margin-left: 20%; margin-bottom:120px;">


                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Add New Course</h1>
                </div>

                <div style="margin-left: 150px; margin-top: 15px;">
                    <div style="width: 70%;  display: flex; flex-direction: column; gap: 25px; ">
                        <div style="margin: 5px;  padding: 10px;">
                            <div>
                                <form action="/api/v1/admin/add-course-banner" method="POST"
                                    enctype="multipart/form-data">
                                    <label
                                        style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 0px; display: block;">Banner
                                        Image : </label>
                                    <input required type="file" name="img" required placeholder="Banner Image"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />


                                    <button type="submit"
                                        style=" border:2px; border-style: solid; border-color: black; margin-left: 80%; margin-top: 20px; width: 20%; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 0px; border-radius: 5px; ">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div style=" margin-top: 50px; ">
                            <h1
                                style="font-size: 26px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                Add Course : </h1>

                            <form action="/api/v1/admin/add-course" method="POST" enctype="multipart/form-data">

                                <div style="margin-left: 20px; margin-top: 20px;" id="courseNameContainer">
                                    <div style="display: flex;  flex-direction: column;  gap: 10px;  padding: 15px;">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                            for="bannerPara">Course Name : </label>
                                        <input required type="text" name="courseName" id=" courseName"
                                            placeholder="Course Name  "
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                                    </div>
                                </div>
                                <div style="margin-left: 20px; margin-top: 20px; padding: 15px;"
                                    id="addCategoryContainer">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;" for="category">
                                        Add Category :
                                    </label>
                                    <select id="category-selector" name="category"
                                        style="border: 1px; border-style: solid; padding: 10px 10px;">
                                    </select>
                                </div>

                                <div style="margin-left: 20px; margin-top: 20px; padding: 15px;"
                                    id="courseImageContainer">

                                    <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                            for="img">Course Image
                                            : </label>
                                        <input required type="file" name="img" id="img" placeholder="Course Image"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>
                                </div>

                                <div style="margin-left: 20px; margin-top: 20px; padding: 15px;"
                                    id="courseOVerviewContainer">

                                    <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                            for="overview">Course
                                            Overview : </label>
                                        <textarea required type="text" name="overview" id="overview" class="editor"
                                            placeholder="Course Overview"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>
                                </div>

                                <!-- Add Key Areas -->
                                <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;"
                                    id="keyAreaContainer">
                                    <div
                                        style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                        <h1
                                            style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                            Add Key Areas : </h1>

                                        <div id="keyArea-container"
                                            style="width: 100%; display: flex; flex-direction: column;">
                                            <div style="width: 100%;">
                                                <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                                    for="keyheading">Key Heading :</label>
                                                <input type="text" name="keyAreas[0][heading]" id="keyheading"
                                                    placeholder="Key Heading" required
                                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                                <label
                                                    style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 20px; display: block;"
                                                    for="keydetails">Key Details :</label>
                                                <input type="text" name="keyAreas[0][details]" id="keydetails"
                                                    placeholder="Key Details" required
                                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                            </div>

                                        </div>

                                        <button
                                            style=" margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                            type="button" onclick="addKeyArea()">Add Key Areas </button>

                                    </div>

                                </div>

                                <!-- Tools in Hand -->
                                <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;"
                                    id="toolsInHandContainer">


                                    <div
                                        style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                        <h1
                                            style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                            Add Tools In Hand : </h1>

                                        <div id="toolsInHand-container"
                                            style="width: 100%; display: flex; flex-direction: column;">
                                            <div style="width: 100%;">
                                                <input type="text" name="toolsInHand[]" required
                                                    placeholder="Tools In Hand"
                                                    style="margin-top:15px; border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px; display:block" />
                                            </div>

                                        </div>

                                        <button
                                            style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                            type="button" onclick="addToolsInHand()">Add Tools In Hand</button>

                                    </div>



                                </div>

                                <!-- Add  Benefits Eligibility and duration   -->
                                <div style="margin-left: 20px; margin-top: 20px; padding: 15px;"
                                    id="courseOVerviewContainer">

                                    <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"> Add Benefits
                                            Eligibility and duration :
                                        </label>
                                        <textarea class="editor" required type="text" name="benefits" class="editor"
                                            placeholder="Add  Benefits Eligibility and duration"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>
                                </div>




                                <!--  courseCurriculum -->

                                <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px; width: 100%; "
                                    id="courseCurriculumContainer">
                                    <div
                                        style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                        <h1 style="font-size: 24px;  color: green; font-weight: 700;">Course
                                            Curriculum :</h1>



                                        <div id="curricullum-container" style="width: 100%;">
                                            <!-- here we add our course curricull container -->
                                            <div style="width: 100%;">
                                                <label style="font-size:20px; font-weight:800; color:#1AAEF4;">Heading
                                                    :</label>
                                                <input type="text" placeholder="Add Heading"
                                                    name="courseCurricullum[0][heading]"
                                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                                    required />
                                                <div class="details-container" id="details-container-0"
                                                    style="margin-top:10px">
                                                    <div style="width: 100%;">
                                                        <label style="color:#1AAEF4; font-weight:600;">Details :</label>
                                                        <input type="text" placeholder="Add Details"
                                                            name="courseCurricullum[0][details][]"
                                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                                            required />
                                                    </div>

                                                </div>
                                                <button type="button" onclick="addDetail(0)"
                                                    style="margin-top:10px; background-color:green; color:white; border: 2px; border-style: solid; border-color:black; padding: 0 4px;">Add
                                                    More Details</button>
                                            </div>

                                        </div>

                                        <button
                                            style="margin-top: 10px;  border: 2px; border-style: solid; border-color: black; background-color: green; color: white; padding: 4px 8px; border-radius:3px; font-weight: 700; "
                                            type="button" onclick="addCourseCurriculum()">Add Curriculum</button>
                                    </div>
                                </div>



                                <!-- keyHighLights -->
                                <div style="width: 100%; margin: 20px; border: 2px; border-style: solid;  padding: 15px;"
                                    id="keyHighLightsContainer">

                                    <div
                                        style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                        <h1
                                            style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                            Add Key Highlight : </h1>

                                        <div id="keyHighLights-container"
                                            style="width: 100%; display: flex; flex-direction: column;">
                                            <div style="width: 100%;">
                                                <input type="text" name="keyHighLights[]" required
                                                    placeholder="Key HighLights"
                                                    style="margin-top: 15px; border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                            </div>
                                        </div>

                                        <button
                                            style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                            type="button" onclick="addKeyHighlight()">Add Key Highlight</button>

                                    </div>
                                </div>

                                <!-- certificate section -->
                                <div style="margin-left: 20px; margin-top: 20px; padding: 15px;"
                                    id="courseOVerviewContainer">

                                    <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                            >Course Certificate
                                            Overview : </label>
                                        <textarea required type="text" name="certificate"  class="editor"
                                            placeholder="Course Certificate Overview"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>
                                </div>


                                <!-- jobRoles -->
                                <div style="width: 100%; margin: 20px; border: 2px; border-style: solid;  padding: 15px;"
                                    id="jobRolesContainer">


                                    <div
                                        style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                        <h1
                                            style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                            Add Job Roles After This Course : </h1>

                                        <div id="jobRoles-container"
                                            style="width: 100%; display: flex; flex-direction: column;">
                                            <div style="width:100%">
                                                <input type="text" name="jobRoles[]" required
                                                    placeholder="Add Job Roles"
                                                    style="margin-top: 15px; border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />


                                            </div>
                                        </div>

                                        <button
                                            style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                            type="button" onclick="addJobRoles()">Add Job Roles</button>

                                    </div>


                                </div>

                                <!--  fAQ -->
                                <div style=" width: 100%; margin: 20px; border: 2px; border-style: solid;  padding: 15px;"
                                    id="faqContainer__">

                                    <div
                                        style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                        <h1
                                            style="font-size: 24px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                            Add FAQ'S : </h1>

                                        <div id="faqs-container"
                                            style="width: 100%; display: flex; flex-direction: column;">
                                            <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                                for="faqheading">FAQ’s Heading :</label>
                                            <input type="text" name="fAQ[0][heading]" id="faqheading" required
                                                placeholder="FAQ’s Heading"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                            <label
                                                style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 20px; display: block;"
                                                for="faqdetails">FAQ’s Details :</label>
                                            <input type="text" name="fAQ[0][details]" required
                                                placeholder="FAQ’s Details" id="faqdetails"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                        </div>

                                        <button
                                            style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                            type="button" onclick="addFAQs()">Add FAQ's</button>

                                    </div>
                                </div>
                                <button type="submit"
                                    style=" border:2px; border-style: solid; border-color: black; margin-left: 80%; margin-top: 20px; width: 20%; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 0px; border-radius: 5px; ">
                                    Submit
                                </button>
                            </form>
                        </div>

                    </div>

                </div>



            </div>


        </div>
        <script>
            let categories = null;
            fetch('/api/v1/get/get-explore-card')
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json()
                })  // Parse the response body as JSON)
                .then((data) => {
                    categories = data?.data;
                    addOptions();
                })
                .catch((error) => console.log("error to get the category", error));

            function addOptions() {
                const selector = document.querySelector("#category-selector");
                console.log(selector);
                categories.forEach(category => {
                    const option = document.createElement('option');
                    option.style.width = "100%";
                    option.value = category?.heading;
                    option.innerText = category?.heading;

                    selector.appendChild(option);
                });
            }
        </script>
        <script>
            $('.editor').trumbowyg({
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'underline', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['table'],
                    ['foreColor', 'backColor'],
                    ['fullscreen']
                ]
            });
        </script>
    </div>

</body>

</html>