<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>
</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style=" position: fixed; width: 12%;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 30px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>



                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 40px; margin-top: 20px;  ">
                    <div>
                        <a href="/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>

                    </div>
                    <div>
                        <a href="/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="width: 88%; margin-left: 12%; margin-bottom:120px;">


                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Add New Course</h1>
                </div>

                <div style="margin-left: 200px; margin-top: 15px;">
                    <div style="width: 70%;  display: flex; flex-direction: column; gap: 25px; ">
                        <div style="margin: 5px; border: 2px; border-style: solid; padding: 10px;">
                            <div>
                                <form action="" method="POST" enctype="multipart/form-data">
                                    <label
                                        style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 0px; display: block;">Banner
                                        Image : </label>
                                    <input required type="file" name="" required placeholder="Banner Image"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />


                                    <button type="submit"
                                        style=" margin-left: 80%; margin-top: 20px; width: 20%; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 0px; border-radius: 5px; ">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div style=" margin-top: 50px; ">
                            <h1
                                style="font-size: 26px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                Add Course : </h1>

             <form action="/api/v1/admin/add-course" method="POST" enctype="multipart/form-data">

                                <div style="margin-left: 20px; margin-top: 20px;" id="courseNameContainer">
                                    <div style="display: flex;  flex-direction: column;  gap: 10px;  padding: 15px;">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                            for="bannerPara">Course Name : </label>
                                        <input required type="text" name="courseName" id=" courseName"
                                            placeholder="Course Name  "
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                                    </div>
                                </div>
                                <div style="margin-left: 20px; margin-top: 20px; padding: 15px;" id="addCategoryContainer">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;" for="category">
                                        Add Category :
                                    </label>
                                    <select id="category" name="category"
                                        style="border: 1px; border-style: solid; padding: 10px 10px;">
                                        <option value="Graphic Designing">Graphic Designing</option>
                                        <option value="Web Designing">Web Designing
                                        </option>
                                        <option value="UI/UX Designing">UI/UX Designing</option>
                                        <option value="Digital Marketing ">Digital Marketing </option>
                                        <option value="Web Development">Web Development </option>
                                        <option value="Animation">Animation
                                        </option>
                                        <option value="Mobile App Development">Mobile App Development </option>
                                        <option value="Software App Development">Software App Development </option>

                                    </select>
                                </div>
                       
                        <div style="margin-left: 20px; margin-top: 20px; padding: 15px;" id="courseImageContainer">

                            <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;" for="img">Course Image
                                    : </label>
                                <input required type="file" name="img" id="img" placeholder="Course Image"
                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                            </div>
                        </div>

                        <div style="margin-left: 20px; margin-top: 20px; padding: 15px;" id="courseOVerviewContainer">

                            <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;" for="overview">Course
                                    Overview : </label>
                                <input required type="text" name="overview" id="overview" placeholder="Course Overview"
                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                            </div>
                        </div>

                        <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;" id="keyAreaContainer">
                            <div
                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                <h1
                                    style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                    Add Key Areas : </h1>

                                <div id="keyArea-container" style="width: 100%; display: flex; flex-direction: column;">

                                </div>

                                <button
                                    style="border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                    type="button" onclick="addKeyArea()">Add Key Areas </button>

                            </div>

                        </div>

                        <!-- Tools in Hand -->
                        <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;" id="toolsInHandContainer">


                            <div
                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                <h1
                                    style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                    Add Tools In Hand : </h1>

                                <div id="toolsInHand-container"
                                    style="width: 100%; display: flex; flex-direction: column;">

                                </div>

                                <button
                                    style="border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                    type="button" onclick="addToolsInHand()">Add Tools In Hand</button>

                            </div>



                        </div>

                        <!-- Benefits -->
                        <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;" id="BenefitContainer">

                            <div
                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                <h1
                                    style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                    Add Course Benefits : </h1>

                                <div id="courseBenefit-container"
                                    style="width: 100%; display: flex; flex-direction: column;">
                                </div>

                                <button
                                    style="border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                    type="button" onclick="addCourseBenefit()">Add Course Benefit</button>

                            </div>
                        </div>

                        <!-- Eligiblity -->

                        <div style="margin-left: 20px; margin-top: 20px;" id="eligiblityContainer" id="eligibilityContainer">
                            <div style="display: flex;  flex-direction: column;  gap: 10px;  padding: 15px;">
                                <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                    for="eligiblity">Eligiblity : </label>
                                <input required type="text" name="eligiblity" id="eligiblity"
                                    placeholder="Course Eligiblity "
                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                            </div>
                        </div>


                        <div style="margin-left: 20px; margin-top: 20px;" id="courseDurationContainer">
                            <div style="display: flex;  flex-direction: column;  gap: 10px;  padding: 15px;">
                                <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                    for="courseDuration">Course Duration : </label>
                                <input required type="text" name="courseDuration" id="courseDuration"
                                    placeholder="Course Duration"
                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                            </div>
                        </div>
                        <div style="margin-left: 20px; margin-top: 20px;" id="fessOptionContainer">
                            <div style="display: flex;  flex-direction: column;  gap: 10px;  padding: 15px;">
                                <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;" for="feeOptions">Fees
                                    Options : </label>
                                <input required type="text" name="feeOptions" id="feeOptions" placeholder="Fees Options"
                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                            </div>
                        </div>

                        <!--  courseCurriculum -->

                        <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px; width: 100%; " id="courseCurriculumContainer">
                            <div
                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                <h1 style="font-size: 24px;  color: green; font-weight: 700;">Course
                                    Curriculum :</h1>



                                <div id="curricullum-container" style="width: 100%;">
                                    <!-- here we add our course curricull container -->

                                </div>

                                <button
                                    style="  border: 2px; border-style: solid; border-color: black; background-color: green; color: white; padding: 4px 8px; border-radius:3px; font-weight: 700; "
                                    type="button" onclick="addCourseCurriculum()">Add Curriculum</button>
                            </div>
                        </div>



                        <!-- keyHighLights -->
                        <div style="width: 100%; margin: 20px; border: 2px; border-style: solid;  padding: 15px;" id="keyHighLightsContainer">

                            <div
                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                <h1
                                    style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                    Add Key Highlight : </h1>

                                <div id="keyHighLights-container"
                                    style="width: 100%; display: flex; flex-direction: column;">
                                </div>

                                <button
                                    style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                    type="button" onclick="addKeyHighlight()">Add Key Highlight</button>

                            </div>
                        </div>
                        <!-- jobRoles -->
                        <div style="width: 100%; margin: 20px; border: 2px; border-style: solid;  padding: 15px;" id="jobRolesContainer">


                            <div
                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                <h1
                                    style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                    Add Job Roles After This Course : </h1>

                                <div id="jobRoles-container"
                                    style="width: 100%; display: flex; flex-direction: column;">
                                </div>

                                <button
                                    style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                    type="button" onclick="addJobRoles()">Add Job Roles</button>

                            </div>

                            
                        </div>

                        <!--  fAQ -->
                        <div style=" width: 100%; margin: 20px; border: 2px; border-style: solid;  padding: 15px;" id="faqContainer__">

                            <div
                                style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                <h1
                                    style="font-size: 24px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                    Add FAQ'S : </h1>

                                <div id="faqs-container"
                                    style="width: 100%; display: flex; flex-direction: column;">
                                </div>

                                <button
                                    style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                    type="button" onclick="addFAQs()">Add FAQ's</button>

                            </div>
                        </div>
                        <button type="submit"
                            style=" width: 70%; margin-left: 10%; margin-bottom: 30px; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center;  border-radius: 5px; ">
                            Submit
                        </button>
                        </form>
                    </div>

                </div>

            </div>



        </div>


    </div>

    </div>

</body>

</html>