<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/ui/trumbowyg.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/trumbowyg.min.js"></script>
</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <%- include('./sidebar') %>
            <div style="width: 80%; margin-left: 20%;">

                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Add New Blog</h1>
                </div>

                <div style=" margin-top: 0px; margin-left: 100px;">
                    <div
                        style="width: 90%;  display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                        <div style="  width: 100%;  padding: 20px 20px; ">
                            <div style="margin: 0px;  padding: 10px;">
                                <% if (success && success.length> 0) { %>
                                    <div class="toast success-toast">
                                        <%= success %>
                                    </div>
                                    <% } %>
                                <% if (error && error.length> 0) { %>
                                            <div class="toast error-toast">
                                                <%= error %>
                                            </div>
                                <% } %>
                                <div>
                                    <form action="/api/v1/admin/add-blog-banner" method="post" enctype="multipart/form-data">
                                        <label
                                            style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 0px; display: block;"> Add or Update Blog Banner
                                            Image : </label>
                                        <input type="file" name="img" required placeholder="Banner Image"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                        <button type="submit"
                                            style=" border:2px; border-style: solid; border-color: black; margin-left: 90%; margin-top: 20px; width: 10%; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 0px; border-radius: 5px; ">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                                <div>
                                    <form action="/api/v1/admin/add-blog-detail-banner" method="post" enctype="multipart/form-data">
                                        <label
                                            style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 0px; display: block;"> Add or Update Blog Details Banner
                                            Image : </label>
                                        <input type="file" name="img" required placeholder="Banner Image"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                        <button type="submit"
                                            style=" border:2px; border-style: solid; border-color: black; margin-left: 90%; margin-top: 20px; width: 10%; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 0px; border-radius: 5px; ">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div style=" margin-top: 20px; margin-bottom: 20px; ">
                                <h1 style="font-size: 26px; font-weight: 700; color: rgb(233, 6, 6);">
                                    New Blog : </h1>

                                <form method="POST" action="/api/v1/admin/add-blogs" enctype="multipart/form-data">
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Add Blog Image : </label>
                                        <input type="file" name="img" placeholder="Add Blog Image" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Add Blog Heading : </label>
                                        <input type="text" name="heading" placeholder="Add Blog Heading" required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>
                                    <!-- Blog Category -->
                                    <div style="margin-top: 20px; padding: 15px;"
                                        id="addCategoryContainer">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Add Blog Category :
                                        </label>
                                        <select id="category-selector" name="blogCategory" required
                                            style="border: 1px; border-style: solid; padding: 10px 10px;">
                                        </select>
                                    </div>
                                    <!-- Tag container -->
                                    <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;">
                                        <div
                                            style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                            <h1
                                                style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                                Add Tags : </h1>

                                            <div id="tags-container"
                                                style="width: 100%; display: flex; flex-direction: column;">
                                                <div style="width: 100%;">
                                                    <select type="text" name="tags[]" id="tags-selector-0"
                                                        placeholder="Tools In Hand" required
                                                        style="margin-top:15px; border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px; display:block">

                                                    </select>
                                                </div>

                                            </div>

                                            <button
                                                style="margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                                type="button" onclick="addMoreTags()">Add More Tags</button>

                                        </div>
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Add Blog Details : </label>
                                        <textarea id="editor" type="text" name="details" placeholder="Add Blog Details"
                                          required  style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>
                                    <button type="submit"
                                        style=" border:2px; border-style: solid; border-color: black; margin-left: 80%; margin-top: 20px; width: 20%; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 0px; border-radius: 5px; ">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#editor').trumbowyg({
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'underline', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['table'],
                    ['foreColor', 'backColor'],
                    ['fullscreen']
                ]
            });
        </script>
        <script>
            let tags = null;
            let selectorIndex = 1;
            //fetch the tags from the server
            // console.log("Script running");


            fetch('/api/v1/get/get-tags')
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();  // Parse the response body as JSON
                })
                .then((data) => {
                    tags = data?.data;
                    addTagsOption(0);
                })
                .catch((error) => console.log("Errror to get the tag", error))


            function addTagsOption(index) {
                const tagSelector = document.querySelector(`#tags-selector-${index}`);
                // Loop through all <select> elements and populate them with options

                tags.forEach(singleTag => {
                    const option = document.createElement('option');
                    option.value = singleTag.tag;
                    option.textContent = `${singleTag.tag}`;
                    tagSelector.appendChild(option);
                })
            }

            function removeHeading(button) {
                button.parentElement.remove();
            }
            function addMoreTags() {

                const tagsContainer = document.querySelector('#tags-container');

                const div = document.createElement('div');

                div.style.width = '100%';

                div.innerHTML = `
                 <select type="text" name="tags[]"  id="tags-selector-${selectorIndex}"
                                                        placeholder="Tools In Hand" required
                                                        style="margin-top:15px; border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px; display:block" >
                                                    
                </select>
                <button type="button" onClick="removeHeading(this)" style="margin-top:10px; background-color:red; color:white; border: 2px; border-style: solid; border-color:black; padding: 0 4px;">Remove This Tag</button>
                
                `
                tagsContainer.appendChild(div);

                addTagsOption(selectorIndex);

                selectorIndex++;

            }

        </script>
        <script>
            let categories = null;
            fetch('/api/v1/get/get-explore-card')
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json()
                })  // Parse the response body as JSON)
                .then((data) => {
                    categories = data?.data;
                    addOptions();
                })
                .catch((error) => console.log("error to get the category", error));

            function addOptions() {
                const selector = document.querySelector("#category-selector");
                console.log(selector);
                categories.forEach(category => {
                    const option = document.createElement('option');
                    option.style.width = "100%";
                    option.value = category?.heading;
                    option.innerText = category?.heading;

                    selector.appendChild(option);
                });
            }
        </script>
    </div>

</body>

</html>