<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/ui/trumbowyg.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/trumbowyg.min.js"></script>
</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <%- include('./sidebar') %>
            <div style="width: 80%; margin-left: 20%;">

                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Create New Home Page</h1>
                </div>

                <div style=" margin-top: 60px; margin-left: 100px;">
                    <div
                        style="width: 90%;  display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                        <div style=" width: 100%;  padding: 20px 20px;">
                            <% if (success && success.length > 0) { %>
                                <div  class="toast success-toast">
                                    <%= success %>
                                </div>
                            <% } %>
                            <% if (error && error.length > 0) { %>
                                <div class="toast error-toast">
                                    <%= error %>
                                </div>
                            <% } %>
                            <form action="/api/v1/admin/add-home" encType="multipart/form-data" method="POST"
                                style="display: flex; flex-direction: column; gap: 25px;">


                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        >Banner Heading and details: </label>
                                    <textarea class="editor" required type="text" name="bannerHeading" 
                                        placeholder="Banner Heading and welcome paragraph "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                </div>
                               

                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="bannerImage">Banner Image : </label>
                                    <input required type="file" name="bannerImage" id="bannerImage"
                                        placeholder="Banner Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="bannerBgImg">Banner Background Image : </label>
                                    <input required type="file" name="bannerBgImg" id=" bannerBgImg"
                                        placeholder="Banner Background Image"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        >Choose Your Course Heading and details: </label>
                                    <textarea required type="text" name="chooseCourseHead" class="editor"
                                        placeholder="Choose Your Course Heading "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>
                               



                                <div style="display: flex;  flex-direction: column;  gap: 20px; margin-top: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">How To Uplift Your
                                        Career Heading and details : </label>
                                    <textarea required type="text" name="upliftYourCareerHead" class="editor"
                                        placeholder="Uplift Your Career Heading "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>

                             
                                <!-- How To Start -->
                                <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;">


                                    <div
                                        style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                        <h1
                                            style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                            Add How To Start : </h1>

                                        <div id="howToStart-container_"
                                            style="width: 100%; display: flex; flex-direction: column;">
                                            <div style="width: 100%;">
                                                <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">How To
                                                    Start Heading : </label>
                                                <input type="text" name="howToStart[0][heading]" required
                                                    placeholder="Key Heading"
                                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />


                                                <label
                                                    style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 20px; display: block;">How
                                                    To Start Details : </label>
                                                <input type="text" name="howToStart[0][details]" required
                                                    placeholder="Key Details"
                                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                                            </div>

                                        </div>

                                        <button
                                            style="margin-top:10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                            type="button" onclick="addHowToStart()">Add More How To Start</button>

                                    </div>



                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Maximize Your Career Heading and details: </label>
                                    <textarea required type="text" name="maximizeCareerHead"
                                        placeholder="Maximize Your Career Heading" class="editor"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>
                                                                                     
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Maximize Your Career Image : </label>
                                    <input required type="file" name="maximizeCareerImg"
                                        placeholder="Maximize Your Career Image "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Blog Side Image : </label>
                                    <input required type="file" name="blogImg" placeholder="Select Image "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>


                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Our Latest  Blog Heading and details : </label>
                                    <textarea required type="text" name="blogHead" placeholder="Blog Heading " class="editor"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>

                                

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Job Ready Heading and details: </label>
                                    <textarea required type="text" name="jobReadyHead" placeholder="Job Ready Heading" class="editor"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>

                                

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Interview Prepration Heading and details: </label>
                                    <textarea required type="text" name="interviewPrepHead" class="editor"
                                        placeholder="Interview Prepration Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>

                                

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Mentors Heading and details : </label>
                                    <textarea required type="text" name="mentorsHead" placeholder="Mentors Heading" class="editor"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>
                                
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Career Counsil Heading and details: </label>
                                    <textarea required type="text" name="careerCounsilHead"
                                        placeholder="Career Counsil Heading " class="editor"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>


                                
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Before College Heading and Details </label>
                                    <textarea required class="editor" type="text" name="beforeCollegeHead"
                                        placeholder="Before College Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>
                                

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Before College Side Image </label>
                                    <input required type="file" name="beforeCollegeImg"
                                        placeholder="Before College Side Image"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <button type="submit"
                                    style="width: 18%; margin-left: 80%; border: 2px; border-style:solid; border-color:black; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center;  border-radius: 5px; ">
                                    Submit
                                </button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.editor').trumbowyg({
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'underline', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['table'],
                    ['foreColor', 'backColor'],
                    ['fullscreen']
                ]
            });
        </script>

    </div>

</body>

</html>