<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>

</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style=" width: 12%;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 30px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>
                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 40px; margin-top: 20px;  ">
                    <div>
                        <a href="/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>

                    </div>
                    <div>
                        <a href="/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="width: 88%;">

                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Create New Home Page</h1>
                </div>

                <div style=" margin-top: 60px; display: flex; justify-content: center;">
                    <div
                        style="width: 60%;  display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                        <div
                            style=" height: 640px; width: 100%; border: 2px; border-style: solid; border-color: gray; padding: 20px 20px; overflow-y: scroll;">
                            <form action="/api/v1/admin/add-home" encType="multipart/form-data" method="POST" style="display: flex; flex-direction: column; gap: 25px;">


                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="bannerHeading">Banner Heading : </label>
                                    <input required type="text" name="bannerHeading" id="bannerHeading"
                                        placeholder="Banner Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="bannerPara">Welcome Paragraph : </label>
                                    <input required type="text" name="bannerPara" id="bannerPara"
                                        placeholder="Welcome Paragraph  "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="bannerImage">Banner Image : </label>
                                    <input required type="file" name="bannerImage" id="bannerImage" placeholder="Banner Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="bannerBgImg">Banner Background Image : </label>
                                    <input required type="file" name="bannerBgImg" id=" bannerBgImg"
                                        placeholder="Banner Background Image"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="chooseCourseHead">Choose Your Course Heading : </label>
                                    <input required type="text" name="chooseCourseHead" id="chooseCourseHead"
                                        placeholder="Choose Your Course Heading "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                        for="chooseCoursePara">Choose Your Course Details : </label>
                                    <input required type="text" name="chooseCoursePara" id="chooseCoursePara"
                                        placeholder="Choose Your Course Details "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                


                                <div style="display: flex;  flex-direction: column;  gap: 20px; margin-top: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">How To Uplift Your
                                        Career Heading : </label>
                                    <input required type="text" name="upliftYourCareerHead"
                                        placeholder="Uplift Your Career Heading "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin-top: 10px;">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">How To Uplift Your
                                        Career Details : </label>
                                    <input required type="text" name="upliftYourCareerPara"
                                        placeholder="How To Uplift Your Career Details "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;">
                                    <div
                                        style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                                        <h1
                                            style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                            Add Details How To start Course : </h1>

                                        <div style="display: flex; gap: 10px; margin-right: 20px;">
                                            <label for="HowToStart"
                                                style="color: gray; font-weight: 600; display: block; cursor: pointer;">Add
                                                More Details</label>
                                            <button type="button" id="HowToStart"
                                                style="border: 1px; border-style: solid; padding: 0px 4px;"
                                                onclick="addHowToStart()">+</button>
                                        </div>

                                    </div>
                                    <div id="howToStart-container">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">How To Start
                                            Heading : </label>
                                        <input required type="text" name="howToStart[0][heading]" 
                                            placeholder="Key Heading"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />


                                        <label
                                            style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 20px; display: block;">How
                                            To Start Details : </label>
                                        <input required type="text" name="howToStart[0][details]" 
                                            placeholder="Key Details"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                         Maximize Your Career Heading : </label>
                                    <input required type="text" name="maximizeCareerHead" placeholder="Maximize Your Career Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                         Maximize Your Career Details : </label>
                                    <textarea id="maximizeyourCareerDetails" required type="text" name="maximizeCareerPara" placeholder="Maximize Your Career Details"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" ></textarea>
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                       Maximize Your Career Image : </label>
                                    <input required type="file" name="maximizeCareerImg" placeholder="Maximize Your Career Image "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Blog Side Image : </label>
                                    <input required type="file" name="blogImg" placeholder="Select Image "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                         Blog Heading : </label>
                                    <input required type="text" name="blogHead" placeholder="Blog Heading "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                         Blog Details : </label>
                                    <input required type="text" name="blogPara" placeholder="Blog Details"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>


                                
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Job Ready Heading : </label>
                                    <input required type="text" name="jobReadyHead" placeholder="Job Ready Heading "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Job Ready Details : </label>
                                    <input required type="text" name="jobReadyPara" placeholder="Job Ready Details"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Interview Prepration Heading : </label>
                                    <input required type="text" name="interviewPrepHead" placeholder="Interview Prepration Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                               
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Interview Prepration Details : </label>
                                    <input required type="text" name="interviewPrepPara" placeholder="Interview Prepration Details"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Mentors Heading : </label>
                                    <input required type="text" name="mentorsHead" placeholder="Mentors Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Mentors Details : </label>
                                    <input required type="text" name="mentorsPara" placeholder="Mentors Details"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Career Counsil Heading : </label>
                                    <input required type="text" name="careerCounsilHead" placeholder="Career Counsil Heading "
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                               

                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Career Counsil Details : </label>
                                    <input required type="text" name="careerCounsilPara" placeholder="Career Counsil Details"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Before College Heading </label>
                                    <input required type="text" name="beforeCollegeHead" placeholder="Before College Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                      Before College Details </label>
                                    <input required type="text" name="beforeCollegePara" placeholder="Before College Heading"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>
                                
                                <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                        Before College Side Image </label>
                                    <input required type="file" name="beforeCollegeImg" placeholder="Before College Side Image"
                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                </div>

                                <button type="submit" style=" font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 10px; border-radius: 5px; ">
                                    Submit
                                </button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>