h1{
    font-size: bold;
   margin-bottom: 20px;
}
.email-input{
    padding: 10px;
}
.email-input:focus{
    outline: none;
}
.login-card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarHomebButton{
    background-color: #cecece ;
}
.sidebarHomebButton:hover{
    background-color: #1AAEF4;
    color: white;
}
.sidebarHomebButton:active{
    background-color: #1AAEF4;
    color: white;
}
a:active{
    background-color: #1AAEF4;
    color: white;
}
a.visited-active {
    background-color: #1AAEF4;
}